Q1

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Pandas Series from the list
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3

In [3]:
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie'],'Age':[25,30,27],'Gender':['Female','Male','Female']})
df

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Q4

A DataFrame is a two-dimensional data structure that represents a tabular format with rows and columns.
It can hold heterogeneous data, meaning each column can have different data types.
A DataFrame is like a spreadsheet or a SQL table.
You can create a DataFrame from lists, dictionaries, arrays, or other Series.
Difference:

A Series is a single column of data, while a DataFrame is a collection of Series (columns).
DataFrame methods cater to the possibility of having more than one column, whereas Series methods are specific to a single column.
You can add another Series to a DataFrame, but adding a Series to another Series involves creating a DataFrame.

In [4]:
import pandas as pd

# Creating a Series from a list
my_list = [10, 20, 30, 40, 50]
my_series = pd.Series(my_list)

print(my_series)
# Creating a DataFrame from dictionaries
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'Salary': [50000, 60000, 45000]
}

df = pd.DataFrame(data)

print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int64
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000

Q5

1.read_csv():
This function is used to load data from a CSV file into a DataFrame.

2.fillna():
It replaces missing values (NaN) in a DataFrame with specified values.
Useful when dealing with incomplete data.

3.mean() and std():
Calculate the mean and standard deviation of a Series or DataFrame.
Useful for understanding data distribution.

4.describe():
Provides summary statistics (count, mean, min, max, etc.) for numeric columns.
Useful for initial data exploration.

5.dropna():
Removes rows with missing values (NaN) from the DataFrame.
Helps clean up data before analysis.

Q6

Series:
A Series is a one-dimensional labeled array with homogeneous data.
It is size-immutable, meaning you cannot change the number of elements in a Series.
However, you can modify the values within a Series.

DataFrame:
A DataFrame is a two-dimensional tabular structure with heterogeneous data.
It is both value-mutable and size-mutable.
You can change the values within a DataFrame (e.g., update scores, add new rows), and you can also add or remove columns.

Panel
A Panel is a three-dimensional data structure.
It is also size-mutable, allowing changes in dimensions.
However, due to its limited use and complexity, it has been deprecated in favor of other data structures.

Q7

In [5]:
import pandas as pd

name = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
points = pd.Series([34, 20, 21, 57, 68])
assists = pd.Series([8, 12, 14, 9, 11])
# Create a DataFrame by concatenating the Series
df = pd.concat([name, points, assists], axis=1)
print(df)

         0   1   2
0    Alice  34   8
1      Bob  20  12
2  Charlie  21  14
3    David  57   9
4      Eve  68  11